body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #007bff;
    margin-top: 0;
    font-size: 24px; /* Increase heading size for mobile */
}

.input {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    font-size: 18px; /* Increase input text size for mobile */
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#qrcode {
    margin: 20px 0;
    display: flex;
    justify-content: center; /* Center the QR code */
}

#downloadLink {
    display: none;
    font-size: 16px; /* Increase font size for download link */
    color: #007bff; /* Make it more visible */
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        margin: 10px;
    }

    input {
        font-size: 16px; /* Adjust input text size for smaller screens */
    }
}
